<div class="content">

    <div class="content-section">

	    <div class="col-xs-8 ref-image ref-line-top single-row">
		    <div class="col-xs-12">
			    <img class="click" ng-click="openImage('http://imgur.com/o9LS9yS')" src="http://i.imgur.com/o9LS9yS.png" title="source: imgur.com"/>
			    <div>
				    no texture model
			    </div>
		    </div>
	    </div>

    </div>

    <div class="content-section">

        <div class="col-xs-12 ref-image ref-line-top">
            <div class="col-xs-4">
                <img class="click" ng-click="openImage('http://imgur.com/l0awywn')" src="http://i.imgur.com/l0awywn.png" title="source: imgur.com" />
                <div>
                    ambient occlusion with empty scene
                </div>
            </div>
            <div class="col-xs-4">
                <img class="click" ng-click="openImage('http://imgur.com/ZEQZvsH')" src="http://i.imgur.com/ZEQZvsH.png" title="source: imgur.com" />
                <div>
                    ambient occlusion with floor
                </div>
            </div>
            <div class="col-xs-4">
                <img class="click" ng-click="openImage('http://imgur.com/JGbRuj5')" src="http://i.imgur.com/JGbRuj5.png" title="source: imgur.com" />
                <div>
                    normal map
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">

        <div class="col-xs-12 ref-image ref-line-top">
            <div class="col-xs-4">
                <img class="click" ng-click="openImage('http://imgur.com/rxek38g')" src="http://i.imgur.com/rxek38g.png" title="source: imgur.com" />
                <div>
                    flat texture
                </div>
            </div>
            <div class="col-xs-4">
                <img class="click" ng-click="openImage('http://imgur.com/QIBbPse')" src="http://i.imgur.com/QIBbPse.png" title="source: imgur.com" />
                <div>
                    combined AO -> ShadowMap
                </div>
            </div>
            <div class="col-xs-4">
                <img class="click" ng-click="openImage('http://imgur.com/7wj3vlJ')" src="http://i.imgur.com/7wj3vlJ.png" title="source: imgur.com" />
                <div>
                    final texture
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">

        <div class="col-xs-12 ref-image ref-line-top">
            <div class="col-xs-6">
                <img class="click" ng-click="openImage('http://imgur.com/HClI3Pp')" src="http://i.imgur.com/HClI3Pp.png" title="source: imgur.com" />
                <div>
                    flat texture
                </div>
            </div>
            <div class="col-xs-6">
                <img class="click" ng-click="openImage('http://imgur.com/HFy3csF')" src="http://i.imgur.com/HFy3csF.png" title="source: imgur.com" />
                <div>
                    combined AO -> ShadowMap
                </div>
            </div>
        </div>
    </div>

	<div class="content-section">

	    <div class="col-xs-11 ref-image ref-line-top single-row">
		    <div class="col-xs-12">
			    <img class="click" ng-click="openImage('http://imgur.com/y8NPtAX')" src="http://i.imgur.com/y8NPtAX.png" title="source: imgur.com"/>
			    <div>
				    textured model
			    </div>
		    </div>
	    </div>

    </div>

</div>